* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: url("Assets/img/bg.jpg");
  background-repeat: no-repeat;
  height: 80vh;
  background-size: 100vw;

  position: relative;
}

.box {
  height: 80vh;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  background-color: black;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative; /* Ensures it stays above the dark overlay */
}

.logo img {
  height: 130px; /* Adjust size as needed */
  color: #ff2e26;
}

.btn {
  background: rgb(229, 9, 20);
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Nunito", "Roboto", "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 14px;
  text-align: center;
  transition-duration: 250ms;
}

.btn:hover {
  background: #f1302c;
  border-color: #f46965;
}

.btn:active {
  opacity: 0.7;
}

/* Responsive Design */
@media (max-width: 768px) {
  .logo {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}
